@model IEnumerable<PruebaCRUD.Models.TONT_AVES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

@using (Html.BeginForm())
{
    <div class="row mb-3">
     
        <div class="col-md-4">
            Nombre: @Html.TextBox("searchNombre", null, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            Zona: @Html.DropDownList("searchZona", (SelectList)ViewBag.Zonas, htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
    <br />
}
<table class="table">
    <tr>
        <th>
            Nombre Com&uacute;n
        </th>
        <th>
            Nombre Cient&iacute;fico
        </th>
        <th>
            Pa&iacute;s
        </th>
        <th>
            Zona
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DSNOMBRE_COMUN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DSNOMBRE_CIENTIFICO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONT_PAISES.FirstOrDefault().DSNOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONT_PAISES.FirstOrDefault().TONT_ZONAS.DSNOMBRE)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CDAVE }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.CDAVE })
            </td>
        </tr>
    }

</table>
