@model IEnumerable<PruebaCRUD.Models.TONT_AVES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <div class="form-group">
                <label for="searchNombre">Nombre</label>
                @Html.TextBox("searchNombre", null, htmlAttributes: new { @class = "form-control", @placeholder = "Ingrese el nombre" })
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="form-group">
                <div class="dropdown">
                    <label for="searchZona">Zona</label>
                    @Html.DropDownList("searchZona", (SelectList)ViewBag.Zonas, "-Seleccione-", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">

        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <input type="button" value="Limpiar" onclick="location.href='@Url.Action("Index","Aves")'" class="btn btn-secondary" />
    </div>

    <br />
}
<table class="table">
    <tr>
        <th>
            Nombre Com&uacute;n
        </th>
        <th>
            Nombre Cient&iacute;fico
        </th>
        <th>
            Pa&iacute;s
        </th>
        <th>
            Zona
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DSNOMBRE_COMUN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DSNOMBRE_CIENTIFICO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONT_PAISES.FirstOrDefault().DSNOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONT_PAISES.FirstOrDefault().TONT_ZONAS.DSNOMBRE)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.CDAVE }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.CDAVE })
            </td>
        </tr>
    }

</table>

<div class="form-group">
    @*<p>
            @Html.ActionLink("Crear Nuevo", "Create")
        </p>*@

    <input type="button" value="Crear nuevo" onclick="location.href='@Url.Action("Create","Aves")'" class="btn btn-primary" />
</div>
